In [65]:
import pandas

url = "https://docs.google.com/spreadsheets/d/1d18VYLtcfhTkFtd1oszOHW3EQOqReMnchzgtd--FdBA/gviz/tq?tqx=out:csv&sheet=Staff"
data = pandas.read_csv(url)

In [21]:
data

,SN,SECTION,NAME,DESIG,W.E.F.,S/NS,REMARKS
0,1,PFA/CELL,A.K.SRIVASTAVA,SSO,30-08-2019,NS,NaN
1,2,PFA/CELL,PRABEER RANJAN SARKAR,JAA,07-08-2023,NS,NaN
2,3,FA/G CELL,SANJEEV KUMAR YADAV,JAA,13-09-2024,NS,NaN
3,4,FA/T & CM CELL,A P DUBEY,AA,01-12-2023,NS,NaN
4,5,FA/WS CELL,Manoj Kumar Verma,AA,13-09-2023,NS,NaN
...,...,...,...,...,...,...,...
173,174,AUDIT,AKHILESH KUMAR DIXIT,JAA,07-04-2023,NS,NaN
174,175,AUDIT,ANUPRIYA PANDEY,JAA,31-05-2023,NS,NaN
175,176,AUDIT,VACANT,JAA,NaN,NS,SHRI ANKIT SINGH TRANSFERRED TO EXPENDITURE
176,177,IA CELL,VACANT,AA,NaN,NS,SHRI PANKAJ KUMAR PROMOTED TO SSO/GEN & transf...
177,178,IT,PANKAJ GUPTA,SSO,01-07-2022,NS,NaN

In [11]:
data[(data["DESIG"] == "SSO") & (data["NAME"] != "VACANT")].count()["NAME"]

45

In [71]:
data['W.E.F.'] = pandas.to_datetime(data['W.E.F.'], format='%d-%m-%Y')

In [72]:
data

,SN,SECTION,NAME,DESIG,W.E.F.,S/NS,REMARKS
0,1,PFA/CELL,A.K.SRIVASTAVA,SSO,2019-08-30,NS,NaN
1,2,PFA/CELL,PRABEER RANJAN SARKAR,JAA,2023-08-07,NS,NaN
2,3,FA/G CELL,SANJEEV KUMAR YADAV,JAA,2024-09-13,NS,NaN
3,4,FA/T & CM CELL,A P DUBEY,AA,2023-12-01,NS,NaN
4,5,FA/WS CELL,Manoj Kumar Verma,AA,2023-09-13,NS,NaN
...,...,...,...,...,...,...,...
173,174,AUDIT,AKHILESH KUMAR DIXIT,JAA,2023-04-07,NS,NaN
174,175,AUDIT,ANUPRIYA PANDEY,JAA,2023-05-31,NS,NaN
175,176,AUDIT,VACANT,JAA,NaT,NS,SHRI ANKIT SINGH TRANSFERRED TO EXPENDITURE
176,177,IA CELL,VACANT,AA,NaT,NS,SHRI PANKAJ KUMAR PROMOTED TO SSO/GEN & transf...
177,178,IT,PANKAJ GUPTA,SSO,2022-07-01,NS,NaN

In [74]:
import datetime
today = datetime.datetime.now()
(today - data["W.E.F."][0]).days

1945

In [75]:
data["TIME"] = today-data["W.E.F."]

In [44]:
data["TIME"] = [time.days/365 for time in data["TIME"]]

In [48]:
data[data["TIME"] > 3]

,SN,SECTION,NAME,DESIG,W.E.F.,S/NS,REMARKS,TIME
0,1,PFA/CELL,A.K.SRIVASTAVA,SSO,2019-08-30,NS,NaN,5.328767
6,7,DY.FA/HQ CELL,IQRAR HASAN,SSO,2020-09-07,NS,NaN,4.304110
12,13,GENERAL,MAMTA CHAUDHARI,AA,2021-07-13,NS,NaN,3.457534
13,14,GENERAL,MANOJ KUMAR,AA,2021-09-08,NS,NaN,3.301370
16,17,EXPENDITURE,PREM PRAKASH,SSO,2021-09-01,S,NaN,3.320548
18,19,EXPENDITURE,RAMNIWAS MEENA,AA,2021-07-13,S,NaN,3.457534
32,33,ENG,SATISH KUMAR PATEL,SSO,2020-03-16,NS,NaN,4.783562
33,34,ENG,KU. NEELAM,AA,2019-09-09,NS,NaN,5.301370
43,44,R&D,SUSHIL CHANDRA,SSO,2021-11-29,NS,NaN,3.076712
44,45,R&D,R.P. GUPTA,JAA,2021-07-14,NS,NaN,3.454795
45,46,R&D,Ajay Kumar Tiwari,AA,2021-07-12,NS,NaN,3.460274
50,51,ADM GAZ,LALA RANJAY KUMAR AMBASTA,SSO,2019-12-31,NS,NaN,4.991781
52,53,ADM GAZ,AJAY TRIPATHI,JAA,1900-01-17,NS,NaN,125.024658
71,72,PENSION,MUKESH KUMAR,SSO,2021-07-16,S,Additional charge of PDS section from 01.09.2023,3.449315
79,80,PDS,VINOD KUMAR SINGH,AA,2021-09-07,NS,NaN,3.304110
80,81,PDS,SHRI CHANDRA,AA,2021-07-14,NS,NaN,3.454795
81,82,PDS,RAMKESH MEENA,JAA,2021-06-01,NS,NaN,3.572603
95,96,SAB - BILLS,CHANDA DEVI,AA,2021-07-14,NS,NaN,3.454795
97,98,SAB - BILLS,R S JANGPANGI,AA,2020-12-08,S,NaN,4.052055
106,107,SAB -FINANCE,MANOJ KUMAR,SSO,2021-12-07,NS,NaN,3.054795
113,114,SALES (S),SUNITA KESHARWANI,SSO,2021-12-01,NS,NaN,3.071233
117,118,PURCHASE (S),P.C.JOSHI,AA,2021-07-12,NS,NaN,3.460274
121,122,FUEL,SANTOSH KUMAR RAO,AA,2020-12-15,NS,NaN,4.032877
123,124,WC,PINTU KUMAR,JAA,2020-11-25,NS,NaN,4.087671
125,126,FUEL BILL,MOHD ISLAM,AA,2021-07-14,S,NaN,3.454795
127,128,GST,VIVEKANAND,SSO,2020-03-02,NS,NaN,4.821918
134,135,BOOKS-I,RAJESH KUMAR YADAV,AC,2020-11-25,NS,Books-I,4.087671
138,139,BOOKS-II,SHUSHIL KUMAR UPADHAYAY,SSO,2020-06-24,NS,Books-II,4.509589
141,142,BOOKS-III,SANTOSH RAM,SSO,2019-12-31,NS,Books-III,4.991781
146,147,BOOKS-IV,MANMOHAN GUPTA,AA,2021-07-12,S,Books-IV,3.460274
157,158,BUDGET,KIRAN TOPPO,AA,2021-08-11,NS,NaN,3.378082
166,167,FINANCE,AFTAB ALAM,SSO,2019-07-17,NS,Order issued for Books IV,5.449315

In [54]:
strength = data[data["NAME"] != "VACANT"]["DESIG"].value_counts()

In [57]:
for desig, item in strength.items():
    print(desig, item)

JAA 54
SSO 45
AA 31
AC 21

In [58]:
strength["SSO"]

45

In [76]:
import datetime
onroll = data[data["NAME"] != "VACANT"]
today = datetime.datetime.now()
onroll["TIME"] = today-onroll["W.E.F."]
onroll["TIME"] = [time.days/365 for time in onroll["TIME"]]
# msg = "Age-wise breakup of staff is as under:\n"
# due1 = onroll[(onroll["TIME"] > 3) & (onroll["TIME"] < 4)]
# due2 = onroll[(onroll["TIME"] > 4) & (onroll["TIME"] < 5)]
# due3 = onroll[onroll["TIME"] > 5]
# print(due1)
# for index, row in due1.iterrows():
#         msg += f"{row['NAME']}, {row['DESIG']}: {round(row['TIME'], 1)} years"
# msg

C:\Users\User\AppData\Local\Temp\ipykernel_16868\2315147642.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  onroll["TIME"] = today-onroll["W.E.F."]
C:\Users\User\AppData\Local\Temp\ipykernel_16868\2315147642.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  onroll["TIME"] = [time.days/365 for time in onroll["TIME"]]

In [77]:
onroll

,SN,SECTION,NAME,DESIG,W.E.F.,S/NS,REMARKS,TIME
0,1,PFA/CELL,A.K.SRIVASTAVA,SSO,2019-08-30,NS,NaN,5.328767
1,2,PFA/CELL,PRABEER RANJAN SARKAR,JAA,2023-08-07,NS,NaN,1.389041
2,3,FA/G CELL,SANJEEV KUMAR YADAV,JAA,2024-09-13,NS,NaN,0.284932
3,4,FA/T & CM CELL,A P DUBEY,AA,2023-12-01,NS,NaN,1.071233
4,5,FA/WS CELL,Manoj Kumar Verma,AA,2023-09-13,NS,NaN,1.287671
...,...,...,...,...,...,...,...,...
171,172,AUDIT,SANJAY KUMAR,AA,2022-07-08,NS,NaN,2.471233
172,173,AUDIT,SANJAY KUMAR SINGH,AA,2024-01-17,NS,NaN,0.942466
173,174,AUDIT,AKHILESH KUMAR DIXIT,JAA,2023-04-07,NS,NaN,1.723288
174,175,AUDIT,ANUPRIYA PANDEY,JAA,2023-05-31,NS,NaN,1.575342
177,178,IT,PANKAJ GUPTA,SSO,2022-07-01,NS,NaN,2.490411

In [80]:
onroll.sort_values(['TIME'], ascending=False)

,SN,SECTION,NAME,DESIG,W.E.F.,S/NS,REMARKS,TIME
52,53,ADM GAZ,AJAY TRIPATHI,JAA,1900-01-17,NS,NaN,125.024658
166,167,FINANCE,AFTAB ALAM,SSO,2019-07-17,NS,Order issued for Books IV,5.449315
0,1,PFA/CELL,A.K.SRIVASTAVA,SSO,2019-08-30,NS,NaN,5.328767
33,34,ENG,KU. NEELAM,AA,2019-09-09,NS,NaN,5.301370
50,51,ADM GAZ,LALA RANJAY KUMAR AMBASTA,SSO,2019-12-31,NS,NaN,4.991781
...,...,...,...,...,...,...,...,...
165,166,FINANCE,PANKAJ KUMAR,SSO,2024-10-25,NS,NaN,0.169863
70,71,PENSION,RAMJOT KUMAR AZAD,SSO,2024-10-25,S,NaN,0.169863
129,130,GENERAL,PANKAJ KUMAR NIRALA,SSO,2024-12-06,NS,NaN,0.054795
78,79,PDS,DEVRAJ ROY,SSO,2024-12-09,NS,NaN,0.046575
164,165,FINANCE,ARUN KUMAR PANDIT,SSO,2024-12-10,NS,NaN,0.043836

In [79]:
onroll

,SN,SECTION,NAME,DESIG,W.E.F.,S/NS,REMARKS,TIME
0,1,PFA/CELL,A.K.SRIVASTAVA,SSO,2019-08-30,NS,NaN,5.328767
1,2,PFA/CELL,PRABEER RANJAN SARKAR,JAA,2023-08-07,NS,NaN,1.389041
2,3,FA/G CELL,SANJEEV KUMAR YADAV,JAA,2024-09-13,NS,NaN,0.284932
3,4,FA/T & CM CELL,A P DUBEY,AA,2023-12-01,NS,NaN,1.071233
4,5,FA/WS CELL,Manoj Kumar Verma,AA,2023-09-13,NS,NaN,1.287671
...,...,...,...,...,...,...,...,...
171,172,AUDIT,SANJAY KUMAR,AA,2022-07-08,NS,NaN,2.471233
172,173,AUDIT,SANJAY KUMAR SINGH,AA,2024-01-17,NS,NaN,0.942466
173,174,AUDIT,AKHILESH KUMAR DIXIT,JAA,2023-04-07,NS,NaN,1.723288
174,175,AUDIT,ANUPRIYA PANDEY,JAA,2023-05-31,NS,NaN,1.575342
177,178,IT,PANKAJ GUPTA,SSO,2022-07-01,NS,NaN,2.490411

In [81]:
onroll["NAME"].count()

151