In [94]:
import pandas as pd
url = "https://docs.google.com/spreadsheets/d/1kXBrVy9mREA1ydLnBrWOxTl0mtfEaZRXi8Q_-IZGYfg/gviz/tq?tqx=out:csv&sheet=10"
df = pd.read_excel("OWE_Nov_21.xlsx", sheet_name="PU Wise OWE", header=2, skiprows=lambda x: x in [14, 26])
# df = pd.read_csv(url)
# df['Demand'] = df['Demand'].fillna("03")
df3 = df.loc[0:10]
df3

,Demand,Particular,Pay,DA,PLB,HRA,TPA,NPS,W/CL,KMA,...,Other than Staff Cost,GROSS,CREDIT,NET,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68
0,NaN,NaN,1.000000e+00,2.000000,3.000000,4.000000,7.000000,8.0,9.0,10.000000,...,NaN,TOTAL,98.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,03,OBG(SL) 2021-22,2.657920e+06,756706.000000,72518.000000,283742.000000,117806.000000,0.0,0.0,3825.000000,...,290470.000000,4327161,1439.000000,4.325722e+06,1.0,NaN,NaN,NaN,NaN,NaN
2,NaN,BP to end Nov-21,1.807386e+06,478044.000000,72518.000000,192942.000000,80103.000000,0.0,0.0,2602.000000,...,197528.360000,2929161.44,960.000000,2.928201e+06,0.0,NaN,NaN,NaN,NaN,NaN
3,NaN,Actuals upto Nov' 20,1.785127e+06,295228.000000,68252.000000,184773.000000,71109.000000,0.0,0.0,1762.000000,...,240901.000000,2734192,1007.000000,2.733185e+06,2733189.0,239894.000000,NaN,NaN,NaN,NaN
4,NaN,Actuals upto Nov' 21,1.759224e+06,441447.000000,66512.000000,192749.000000,77257.000000,0.0,0.0,1617.000000,...,215140.000000,2860886,6993.000000,2.853893e+06,2853892.0,208147.000000,NaN,NaN,NaN,NaN
5,NaN,AC-BP,-4.816200e+04,-36597.000000,-6006.000000,-193.000000,-2846.000000,0.0,0.0,-985.000000,...,17611.640000,-68275.44,6033.000000,-7.430844e+04,NaN,11578.640000,NaN,NaN,NaN,NaN
6,NaN,% var.over BP,-2.664732e-02,-0.076556,-0.082821,-0.001000,-0.035529,NaN,NaN,-0.378555,...,0.089160,-0.023309,6.284375,-2.537682e-02,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,AC- Coppy,-2.590300e+04,146219.000000,-1740.000000,7976.000000,6148.000000,0.0,0.0,-145.000000,...,-25761.000000,126694,5986.000000,1.207080e+05,NaN,-31747.000000,NaN,NaN,NaN,NaN
8,NaN,% var. over coppy,-1.451045e-02,0.495275,-0.025494,0.043166,0.086459,NaN,NaN,-0.082293,...,-0.106936,0.046337,5.944389,4.416386e-02,NaN,-0.132338,NaN,NaN,NaN,NaN
9,NaN,% FG Utilization,6.618800e-01,0.583380,0.917179,0.679311,0.655799,NaN,NaN,0.422745,...,0.740662,0.661146,4.859625,6.597495e-01,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,AC - FG,8.986960e+05,315259.000000,6006.000000,90993.000000,40549.000000,0.0,0.0,2208.000000,...,75330.000000,1466275,-5554.000000,1.471829e+06,-2853891.0,-208147.000000,NaN,NaN,NaN,NaN

In [95]:
exp = df.set_index([0,1])
exp

KeyError: 'None of [0, 1] are in the columns'